---
import BaseLayout from "./Base.astro";

interface Props {
  title: string[];
  description?: string;
  img?: string;
  favicon?: string;
  video?: string;
  ThemeColor?: string;
  keywords?: string;
}

const {
  title,
  ThemeColor,
  description,
  favicon,
  img,
  keywords,
  video,
} = Astro.props;

const css = [
];
---

<BaseLayout
  title={title}
  ThemeColor={ThemeColor}
  description={description}
  favicon={favicon}
  img={img}
  keywords={keywords}
  video={video}
  css={css}
>
  <body>

    <div id="preloader"></div>
    <noscript>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </noscript>
    <div>
        <slot />
      </div>
    </div>



    <script is:inline>
      const $lang =
        new URL(window.location.href).searchParams.get("lang") ||
        navigator.language;

      window.addEventListener("load", async () => {
        if ($lang.toLowerCase() === "en-us") return;

        function getAllTextNodes(node) {
          const allTextNodes = [];

          function getTextNodes(node) {
            if (node.nodeType === 3 && node.nodeValue.trim() !== "") {
              allTextNodes.push(node);
            } else if (
              node.nodeType === 1 &&
              !["SCRIPT", "STYLE", "CODE"].includes(node.nodeName)
            ) {
              for (const childNode of node.childNodes) {
                getTextNodes(childNode);
              }
            }
          }

          getTextNodes(node);
          return allTextNodes;
        }

        const textNodes = getAllTextNodes(document.body);

        await Promise.all(
          textNodes.map(async (node) => {
            const res = await fetch(
              `${window.urls.api}/v1/translate?text=${node.nodeValue}&lang=${$lang}`
            );
            const data = await res.json();

            node.nodeValue = data.data;
          })
        );

        setTimeout(removeLoader, 2000); // Wait for page load PLUS two seconds.
      });
    </script>
  </body>
</BaseLayout>
